@mixin button {
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    display: block;
    min-width: 185px;
    max-width: 280px;
    padding: 13px 30px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none!important;
    letter-spacing: 1px;
    
    @include breakpoint(medium) {
        display: inline-block;
        max-width: none;
        margin: 0;
    }
    
    &.disabled {
        pointer-events: none;
        cursor: default;
    }
    
    svg {
       position: absolute;
       left: 10px;
       top: 50%;
       transform: translateY(-50%);
    }
}


.button {
    @include button;
    
    
    &.blue {
        background-color: $blue;
        border-color: $blue;
        color: $white;
        
        
        &:visited,
        &:active,
        &:focus {
            color: $white;
        }
        
        &:hover{
            background-color: scale-color($blue, 20%);
            border-color: scale-color($blue, 20%);
            color: $white;
        }   
    }
    
    &.blue-reverse {
        background-color: transparent;
        border-color: $white;
        color: $white;
        
        &:visited,
        &:active,
        &:focus {
            color: $white;
        }

        &:hover{
            background-color: $blue;
            border-color: $blue;
            color: $white;
        }
    }
    
    &.blue-alt {
        background-color: transparent;
        border-color: $blue;
        color: $blue;
        
        &:visited,
        &:active,
        &:focus {
            color: $blue;
        }

        &:hover{
            background-color: $blue;
            border-color: $blue;
            color: $white;
        }
    }
    
    
    &.green {
        background-color: $green;
        border-color: $green;
        color: $white;
        
        &:visited,
        &:focus {
            color: $white;
        }
        
        &:active
         {
            color: $green;
        }

        &:hover{
            background-color: $white;
            border-color: $green;
            color: $green;
        }
    }
    
    
    &.green-alt {
        background-color: transparent;
        border-color: $green;
        color: $green;
        
        &:visited,
        &:active,
        &:focus {
            color: $green;
        }

        &:hover{
            background-color: $green;
            border-color: $green;
            color: $white;
        }
    }
    
    

}


.button-group {
    
    margin: 0 -10px;
 
    a {
        margin: 0 10px $global-margin;   
    }
    
}



a.learn-more,
a.arrow,
a.tel {
    color: #0094D0;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 18px;
    text-align: center;
    position: relative;
    padding-right: 26px;
    text-transform: uppercase;
    text-decoration: none!important;
    
    &:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background: $blue;
        border-radius: 50%;  
        position: absolute;
        right: 0;
        top: -1px; 
    }
    
    &:after {
        content: ''; 
        right: 8px;
        top: 6px;
        position: absolute;

        width: 6px;
        height: 6px;
        border: solid $white;
        border-width: 0 1px 1px 0;
        transform: rotate(-45deg);  
    }
}

div.plus,
a.plus {
    display: inline-block;
    
    min-width: 33px;
    min-height: 33px;
    
    
    color: #fff;
    
    span {
        padding-left: 50px;  
        @include plus; 
        min-height: 40px;
        font-size: 20px;
        line-height: 34px;
    }
    
    &:hover {
        opacity: .8;   
    }
    
}