//
// Footer
// --------------------------------------------------

.footer-widgets {
    background-color: $dark-gray;
    position: relative;
    z-index: 2;
    margin-top: 50px;
    
    &:before,
    &:after {
        content: '';
        width: 50%;
        height: 100px;
        background-color: $dark-gray;
        position: absolute;
        top: -100px;   
    }
    
    &:before {
        left: 0;
        transform: skew(0deg,5deg);  
    }
    
    &:after {
        right: 0;  
        transform: skew(0deg,-5deg);
    }
    
    .wrap {
        position: relative;
        z-index: 2; 
    }
    
    .widget {
        
        padding: 0 0 24px 0;
        text-align: center;   
        
        @include breakpoint(large) {
            padding: 0;   
        }
        
        * {
            color: #EFF3F1;   
        }
    }
    
    
    @include breakpoint(large) {
        
        .widget {
            text-align: left;   
        }
        
        .columns:last-child .widget {
            text-align: right;   
        }
    }
    
    p,
    li {
        font-size: 14px;
        line-height: 20px;   
        margin-bottom: 20px;        
    }
    
    p {
        &:last-child {
            margin-bottom: 0;   
        }
    }
    
}



.footer-widgets .gform_widget {
    
    .widget-title {
        display: none;   
    }
 
    input {
        background: transparent;
        border: none;   
    }
    
    .gfield {
        
        padding: 0!important;
        margin: 0;
        line-height: 1;
        
        input {
            color: #fff!important;   
            font-size: 16px!important;
            padding: 0 0 0 0!important;
            min-height: inherit!important;
            
            @include breakpoint(medium) {
                padding: 3px 0 0 0!important;
            }
        }
    }
    
    .gfield ::placeholder {
        color: #fff;
    }
    
    li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    li.gfield_error textarea {
        border: none!important;
        background-color: transparent!important;
        margin: 0!important;
        color: #FFDFE0!important;
        
    }
    
    .gfield_error ::placeholder {
        color: #FFDFE0!important;
    }
    
    .validation_message {
         color: #fff;
         position: absolute;
         top: 24px;
         font-size: 14px;
    }
    
    form {
        
        border-bottom: 1px solid #EFF3F1;
        max-width: 220px;
        padding-bottom: 4px;
        margin: 0 auto;
        
        display: flex;
        align-items: flex-start;
        justify-content: center;
        
        .validation_error {
            display: none;
        }
        
        .ginput_container {
            margin: 0!important;
            padding: 0 !important;  
            position: relative; 
        }
    
        .gform_body,
        .gform_footer {
            flex: 0 0 auto;
            max-width: 100%;
            width: auto;
            padding: 0;
            margin: 0;
            clear: none;
        }
        
    }
    
    
    .gform_footer {
        
        input {
            background-color: transparent!important;
            border: none!important;  
            font-size: 0!important;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='18'%3E%3Cg id='Footer' fill='none' fill-rule='evenodd'%3E%3Cg id='Footer---Mockup' fill='%23FFF' transform='translate%28-788 -299%29'%3E%3Cg id='Group-2' transform='translate%28616 298%29'%3E%3Cg id='mail' transform='translate%28172 1%29'%3E%3Cpath id='Fill-1' d='M22.809 17.999H2a2 2 0 0 1-2-2V2.362c0-1.101.898-2 2-2h20.809c1.101 0 2 .899 2 2v13.637c0 1.106-.899 2-2 2zM2 1.163c-.66 0-1.199.539-1.199 1.199v13.637A1.2 1.2 0 0 0 2 17.198h20.809c.664 0 1.199-.535 1.199-1.199V2.362a1.2 1.2 0 0 0-1.199-1.199H2z'/%3E%3Cpath id='Fill-2' d='M12.406 11.191a2.227 2.227 0 0 1-1.468-.528L.711 1.753a.4.4 0 0 1-.035-.566.396.396 0 0 1 .562-.039l10.223 8.91c.512.445 1.375.445 1.887 0l10.218-8.907a.396.396 0 0 1 .567.04.397.397 0 0 1-.039.562l-10.219 8.906a2.225 2.225 0 0 1-1.469.532z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            background-size: 25px 18px;
            width: 25px!important;
            height: 18px;
            border-radius: 0!important;
            background-repeat: none; 
            margin: 0!important;
            padding: 0!important;
            min-width: inherit!important;
            line-height: 1;
            min-height: inherit!important;
        }
        
    }
    
}



.footer-widgets .social-icons {
    
    li:first-child {
        position: relative;
        top: 3px;   
    }
    
    a {
       
        background-color: transparent;
       
        &:hover {
            
            background-color: transparent;
            
            svg {
                fill: $green;   
            }
        }
    }
    
    svg {
        fill: $white;  
        top: auto;
        bottom: 0;
        left: 0;
        transform: none;
    }    
   
}



.site-footer {
    
    .wrap {
        padding: 0 0 20px;   
    }
    
    p {
        color: #EFF3F1;
        font-size: 11px;
        line-height: 15px;
        
        span {
             display: block;
             margin-bottom: 5px;
        }

    }
      
}

