// Testimonials


.section-quote {
    
    margin-top: 45px;
    margin-bottom: 75px;
    
    .quote-mark {
        height: auto;
        
        display: flex;
        flex-basis: 100%;
        align-items: center;
        margin: 15px auto 40px;
        &:before,
        &:after {
            content: "";
            flex-grow: 1;
            background: $green;
            height: 1px;
            font-size: 0px;
            line-height: 0px;
            margin: 0px 15px;
        }
        
        span {
            width: 56px;
            height: 46px;
            background-image: url(assets/images/icons/quote.png);
            background-size: 56px 46px;   
        }
    }
    
    
    blockquote {
        border: none;
        max-width: 840px;
        margin: 0 auto;
        text-align: center;
        
        p {
            font-size: 20px; 
            
        }
        
        @include breakpoint(large) {
            p {
                font-size: 30px;     
            }
        }
    }
    
}