// Section

section {
    
    &.background-gray {
        background: $light-gray;   
    }
    
    padding-top: 45px;
        
    
    header {
        margin-bottom: 40px;    
    }
 
    h2 {
        margin-bottom: 0;
        text-align: center;
        
        &:before {
            content: '';
            display: block;
            width: 54px;
            height: 4px;
            background: $green;
            margin: 0 auto 10px;   
        }
        
        &.text-left {
            
            text-align: left;
            
            &:before {
                margin: 0 0 10px; 
            }
        }
    }
    
    header h4 {
        text-align: center;  
        text-transform: none;
        margin: 5px auto 0;
    }
    
    
    &.section-content {
        h2:after {
            margin: 10px auto 40px;   
        }
    }
    
}